<app-header></app-header>
<div class="d-flex justify-content-center login-form">
    <form [formGroup]="formGroup" class="m-2 form-width" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div class="d-flex flex-column">
             <label for="userName">Name</label>
             <input 
             [formControl]="userNameControl" 
             id="userName" type="text" 
             required="required"
             [class.errors]="userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)">
             <app-errors [formControl]="userNameControl" [requiredMessage]="'Name is required'" [minLengthMessage]="'Name should be at least ' +  MIN_LENGTH  + ' characters'"></app-errors>
        </div>
        <div class="d-flex flex-column">
            <label for="password">Password</label>
            <input 
            [formControl]="passwordControl" 
            id="password" type="password"
            required="required"
            [class.errors]="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
            <app-errors [formControl]="passwordControl" 
            [requiredMessage]="'Password is required'" [minLengthMessage]="'Password should be at least ' +  MIN_LENGTH  + ' characters'"></app-errors>
        </div>
        <button type="submit" 
            class="btn btn-primary mt-2" 
            [disabled]="formGroup.invalid"
            [routerLink]="'./login'">Submit</button>
    </form>
</div>