html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #ecf1ff59;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

a {
    text-decoration: none;
}

.border-radius-5 {
    border-radius: 5px;
}

.w-230-fixed {
    width: 230px;
}