<div class="suggestion position-absolute my-2 border w-230-fixed" *ngIf="cities">
    <div class="button-suggestion d-flex">
        <button class="border-0 p-3 font-size-14">Use Current Location</button>
    </div>
    <h5 class="border-bottom p-3 font-size-14 m-0">Recent</h5>
    <ul class="p-0 m-0 d-flex flex-column">
        <li class="d-flex p-3 w-100 ps-2 justify-content-between border-bottom"
            [class.selected-city]="cityKey === city.Key" *ngFor="let city of cities" (click)="selectedCity(city)">
            <div class="d-flex flex-column pointer">
                <div class="font-size-14">{{ city?.LocalizedName }}</div>
                <div class="font-size-12 zone-name">{{ city?.Region?.LocalizedName }}</div>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="me-3"><i class="bi bi-brightness-alt-high"></i></div>
                <div>{{ city?.GeoPosition?.Elevation?.Imperial?.UnitType }}</div>
            </div>
        </li>

    </ul>
</div>