@import 'variables.scss';

.suggestion {
    background-color: $white;
    border-radius: 5px;

    .button-suggestion {
        background-color: #e4eaf2;
    }
 button {
    background-color: #e4eaf2;
 }

}
