<div class="suggestion position-absolute w-100 my-2 border" *ngIf="cities">
    <div class="button-suggestion">
        <button class="border-0 m-3 font-size-14">Use Current Location</button>
    </div>
    <h5 class="border-bottom p-3 pb-1 font-size-14 m-0">Recent</h5>
    <ul class="p-0 m-0">
        <li class="d-flex align-items-center justify-content-between p-3 pointer"
            [class.selected-city]="cityKey === city.Key" *ngFor="let city of cities" (click)="selectedCity(city)">
            <div class="d-flex flex-column">
                <div class="font-size-14">{{ city?.LocalizedName }}</div>
                <div class="font-size-14">{{ city?.Region?.LocalizedName }}</div>
            </div>
            <div class="d-flex">
                <div class="me-3"><i class="bi bi-brightness-alt-high"></i></div>
                <div>{{ city?.GeoPosition?.Elevation?.Imperial?.UnitType }}</div>
            </div>
        </li>
    </ul>
</div>
