<app-header></app-header>
<!-- TODO: Create a design to display Weather details -->
<div class="container w-100">
    <div class="title-container">
        <h2>Current Weather</h2>
        <div>
            <span>Current time:</span>
            <span>12:03</span>
        </div>
    </div>
    <div class="container-elements border d-flex justify-content-between">
        <div class="d-flex flex-column">
            <span><i class="bi bi-brightness-high-fill"></i></span>
            <h3>Temperature</h3>
            <div>
                <span>Sunny</span>
                <a href="#">More details</a>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div>
                <span>RealFeel Shade:</span>
                <span>0 Grade</span>
            </div>
            <div>
                <span>Wind:</span>
                <span>WSW 9km/h</span>
            </div>
            <div>
                <span>Wind Gusts:</span>
                <span>10km/h</span>
            </div>    
            <div>
                <span>Air quality:</span>
                <span>Poor</span>
            </div>         
        </div>
    </div>
</div>