<div class="d-flex justify-content-center login-form">
    <form [formGroup]="formGroup" class="m-2 form-width" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div class="d-flex flex-column">
             <label for="userName">Name</label>
             <input 
             [formControl]="userNameControl" 
             id="userName" type="text" 
             required="required"
             [class.errors]="userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)">
             <div *ngIf="userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)"
                class="alert p-0">
                <div *ngIf="userNameControl.errors?.['required']">Name is required</div>
                <div *ngIf="userNameControl.errors?.['minlength']">Name must be at least 5 characters long</div>
             </div>
        </div>
        <div class="d-flex flex-column">
            <label for="password">Password</label>
            <input 
            [formControl]="passwordControl" 
            id="password" type="password"
            required="required"
            [class.errors]="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
            <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)" class="alert">
                <div *ngIf="passwordControl.errors?.['required']">Password is required</div>
                <div *ngIf="passwordControl.errors?.['minlength']">Password must be at leat 5 characters long</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
    </form>
</div>