.card-box {
    .icon-box {
        i {
            color: #ffa500;
        }
        
    }
    button {
        background-color: transparent;
    }
    .btn-see-more{
        background-color: #0d6efd;

    }
}
