@import 'variables.scss';

.header {
  background-color: $dark-background;

  a {
    color: $light-white;
    text-decoration: none;
  }

  .active {
    color: #ffa500;
  }

  h5,
  span {
    color: $light-white;
  }

  .favorite-icon {
    i {
      color: $orange;
    }

    button {
      background-color: transparent;
    }
  }
}
