@import 'variables.scss';

.header {
    background-color: $dark-background;
   a {
    color: $light-white;
    text-decoration: none;
   }
   .active {
    color: blue;
   }
   
   h5, span {
    color: $light-white;
   }
   .favorite-icon {
     color: $bluefavorite;
   }
}
