<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Select City
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem *ngFor="let topCity of topCities"
					(click)="selectCity(topCity.Key, topCity.Country.LocalizedName)">
					{{topCity.Country.LocalizedName}}
				</button>
			</div>
		</div>
	</div>
</div>
<div class="weather-container">
	<h5>{{cityName}}</h5>
	<ul *ngFor="let currentCondition of currentConditions">
		<li>
			<h5>Epoch Time:</h5>
			<div> {{ currentCondition.EpochTime | number: '1.0-2' }} </div>
		</li>
		<li>
			<h5>Local Time:</h5>
			<div> {{ currentCondition.LocalObservationDateTime | date: 'medium' }} </div>
		</li>
		<li>
			<h5>Weather:</h5>
			<div> {{ currentCondition.WeatherText }} </div>
		</li>
		<li>
			<h5>Temperature:</h5>
			<button (click)="changeTemperatureTab(TemperatureType.Imperial)"
				class="btn"
				[class.active]="activeTab === TemperatureType.Imperial">Imperial</button>
			<button (click)="changeTemperatureTab(TemperatureType.Metric)"
				class="btn"
				[class.active]="activeTab === TemperatureType.Metric">Metric</button>
			<div *ngIf="activeTab === TemperatureType.Imperial">
				{{ currentCondition.Temperature.Imperial.UnitType }}
				{{ currentCondition.Temperature.Imperial.Unit }}
			</div>
			<div *ngIf="activeTab === TemperatureType.Metric">
				{{ currentCondition.Temperature.Metric.UnitType }}
				{{ currentCondition.Temperature.Metric.Unit }}
			</div>
		</li>
	</ul>
</div>