@import 'variables.scss';
@import 'typography';

.weather-container {
    .active {
        // background-color: blue;
        color: #fff;
    }

    h5 {
        font-size: 20px;
        margin: 0 !important;
    }

}

.location-list {
    h5 {
        font-size: 1.12rem;
    }

    li {
        font-size: 0.93rem;
    }
}
