<div class="row m-2">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				Select City
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem *ngFor="let topCity of topCities"
					(click)="selectCity(topCity.Key, topCity.Country.LocalizedName)">
					{{topCity.Country.LocalizedName}}
				</button>
			</div>
		</div>
	</div>
</div>
<div class="weather-container m-2 p-2">
	<h5>{{cityName}}</h5>
	<ul class="d-flex border m-0 p-3">
		<li class="d-flex align-items-center col">
			<h5>Epoch Time</h5>
		</li>
		<li class="d-flex align-items-center col">
			<h5>Local Time</h5>
		</li>
		<li class="d-flex align-items-center col">
			<h5>Weather</h5>
		</li>
		<li class="d-flex align-items-center col">
			<h5>Temperature</h5>
		</li>
	</ul>
	<ul class="d-flex border m-0 p-3 list-unstyled" 
		*ngFor="let currentCondition of currentConditions">
		<li class="d-flex align-items-center col">
			<div> {{ currentCondition.EpochTime | number: '1.0-2' }} </div>
		</li>
		<li class="d-flex align-items-center col">
			<div> {{ currentCondition.LocalObservationDateTime | date: 'medium' }} </div>
		</li>
		<li class="d-flex align-items-center col">
			<div> {{ currentCondition.WeatherText }} </div>
		</li>
		<li class="d-flex align-items-center col">
			<button (click)="changeTemperatureTab(TemperatureType.Imperial)"
				class="btn btn-outline-primary me-2"
				[class.active]="activeTab === TemperatureType.Imperial">Imperial</button>
			<button (click)="changeTemperatureTab(TemperatureType.Metric)"
				class="btn btn-outline-primary"
				[class.active]="activeTab === TemperatureType.Metric">Metric</button>
			<div *ngIf="activeTab === TemperatureType.Imperial">
				{{ currentCondition.Temperature.Imperial.UnitType }}
				{{ currentCondition.Temperature.Imperial.Unit }}
			</div>
			<div *ngIf="activeTab === TemperatureType.Metric">
				{{ currentCondition.Temperature.Metric.UnitType }}
				{{ currentCondition.Temperature.Metric.Unit }}
			</div>
		</li>
	</ul>
</div>